.section_2 {
    // border: 1px solid red;
    height: auto;
    margin: 0 4rem;
    padding: 1rem;

    &-bottom {
        // border: 1.5px solid green;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 1rem; //temporary
        margin: -1rem;

        @include respond(phone) {
            margin: 0;
        }
    }

    &-videobox {
        // border: 2px solid gold;
        background-image: url(/kidsvalley.github.io/img/video-back.png);
        background-repeat: no-repeat;
        background-size: cover;

        height: 25rem;
        flex-basis: 53%;
        // padding-top: 4rem;
        margin-bottom: 1rem;

        display: flex;
        align-items: center;
        justify-content: center;

        @include respond(phone) {
            flex: 1 1 100%;
            background-position: center;
            transform: scaleY(1.1);                     
        }

        @include respond(phone-l) {
            background-size: contain;
        }

        &--video {
            // border: 1px solid red;
            height: 78%;
            width: 80%;

            @include respond(phone) {
                height: 100%;
                width: 62%;
                // padding: 0rem 8.5rem;
                // margin-left: -5rem;
            }
            
            >iframe {
                height: 100%;
                width: 100%;
                margin-top: 1rem;
                
                @include respond(phone) {
                    // border: 2px solid green;
                    margin: 1rem;                    
                }

                @include respond(phone-l) {
                    margin: 0;
                }
            }
        }
    }

    &-para {
        // border: 1px solid black;
        line-height: 1.3;
        text-align: justify;
        padding-top: 2.5rem;
        padding-right: 2rem;

        flex: 0 1 45%;

        @include respond(phone) {
            flex: 1 1 100%;
            padding-right: 0;
            letter-spacing: 1px;
        }
    }

    &-text {
        font-size: 1.15rem;
        letter-spacing: .35px;
        color: grey;

        @include respond(phone) {
            letter-spacing: 1px;
        }
    }
}